{{- partialCached "page-meta.hugo" . .RelPermalink }}
{{- partial "header.html" . }}
          <article>
            <header class="headline">
            </header>
{{- $page := . }}

{{- $taxonomy_page := .Site.GetPage .Data.Plural }}
{{- $title := default (default .Data.Singular (i18n .Data.Singular)) $taxonomy_page.Params.SingularTitle }}
{{- $title = printf "%s %s %s" $title (default "::" .Site.Params.titleSeparator) (default (humanize .Data.Term | strings.Title) .Title) }}
<h1 id="{{ $title | plainify | anchorize }}">{{ $title }}</h1>
{{- .Content }}
{{- $lastCapital := "" }}
{{- $pages := partialCached "partials/pageHelper/termPages.html" . . }}
{{- range $pages }}
  {{- $capital := substr .Title 0 1 | upper }}
  {{- if ne $lastCapital $capital }}
    {{- if ne $lastCapital "" }}
</ul>
    {{- end }}
<h2 id="{{ $capital | plainify | anchorize }}">{{ $capital }}</h2>
<ul class="columnize">
  {{- end }}
  {{- $c:=""}}{{/* display pages of a term */}}
  {{- $breadcrumb := "" }}
  {{- if (ne .Page.Site.Params.disableTermBreadcrumbs true) }}
    {{- $breadcrumb = (trim ((partial "breadcrumbs.html" (dict "page" .Page "dirOnly" true)) | plainify | htmlUnescape) "\n\r\t ") }}
  {{- end }}
  <li><a href="{{ partial "relLangPrettyUglyURL.hugo" (dict "to" .Page) }}">{{ .Title }}</a>{{ with $breadcrumb }}<div class="breadcrumbs highlightable" title="{{ . }}">{{ . }}</div>{{ end }}</li>
  {{- $lastCapital = $capital }}
{{- end }}
{{- if ne $lastCapital "" }}
</ul>
{{- end }}

            <footer class="footline">
            </footer>
          </article>
          {{- partial "footer.html" . }}
