@import "theme-zen-light.css";

:root {
    --CODE-theme: zen-light;
    --MENU-HEADER-BG-color: #003366; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #003366; /*Color of menu header border */
    --MENU-SEARCH-color: rgb(0, 25, 58); /* text and icon color of search box */
    --MENU-SEARCH-BG-color: rgba( 255, 255, 255, 1 ); /* background color of search box */
    --MENU-HOME-LINK-color: rgb(255, 255, 255); /* home button color if configured */
}