
<hr class="padding default-animation footerLangSwitch footerVariantSwitch footerVisitedLinks footerFooter showVariantSwitch showFooter">

<p style="color: rgb(27, 103, 245); font-size: 20px; "> Stu's Blog Network </p>

<a href="https://blog.alta3.com/" target="_blank" rel="noreferrer" style="color: rgb(102, 178, 255); font-size: 15px; padding-left: 15px">📘 Alta3 Research Blog</a>

<hr class="padding default-animation footerLangSwitch footerVariantSwitch footerVisitedLinks footerFooter showVariantSwitch showFooter">

<p>Built with <a href="https://github.com/McShelby/hugo-theme-relearn" title="love"><i class="fas fa-heart"></i></a> by <a href="https://gohugo.io/">Hugo</a></p>
